# Files to ignore when considering what GIT should commit.

# Visual Studio 
#folders
.vs/
ipch/
x64/
x64/Release/
x64/Debug/
temp/
zbrush-dll-template/x64/
zbrush-dll-template/x64/Release/
zbrush-dll-template/x64/Debug/
#files
.log